{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}
        You are viewing transaction history for: <b> {{ profilename }} </b>

        <div class="chartDiv">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{ categorylist|safe }},
        datasets: [{
            label: '# of Votes',
            data: {{ data }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        }
    }
);
</script>
</div>
<div class="middle"></div>
<div class="historyDiv">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Short description</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date_time }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.description }}</td>
                <td>
                    <form action="/edit" method="get">
                    <input type="hidden" name="txnid" value={{ transaction.id }}>
                    <button class="btn btn-primary" type="submit">Edit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
